 		.rule{
			margin: auto;
			height: 300px;
			width:300px;
			background-size: cover;
			background: url(lola.png);
			background-position:-263px -1487px;
			border: solid 10px black;
			border-radius: 200px;
		}
		@keyframes ruleta{
			0%{
				background-position:-263px -0px;
			}
			14%{
				background-position:-263px -298px;
			}
			28%{
				background-position:-263px -597px;
			}
			42%{
				background-position:-263px -895px;
			}
			56%{
				background-position:-263px -1190px;
			}
			84%{
				background-position:-263px -1487px;
			}
			100%{
				background-position:-263px -0px;
			}
		}
		@keyframes ruletaA{
			0%{
				background-position:-260px -7px;
			}
			50%{
				background-position:-260px -600px;
			}
			100%{
				background-position:-263px -1487px;
			}
			
		}
		@keyframes ruletaR{
			0%{
				background-position:-260px -7px;
			}
			50%{
				background-position:-260px -600px;
			}
			100%{
				background-position:-263px -1190px;
			}
			
		}
		@keyframes ruletaT{
			0%{
				background-position:-260px -7px;
			}
			50%{
				background-position:-260px -600px;
			}
			100%{
				background-position:-263px -895px;
			}
			
		}
		@keyframes ruletaK{
			0%{
				background-position:-260px -7px;
			}
			50%{
				background-position:-260px -600px;
			}
			100%{
				background-position:-263px -597px;
			}
			
		}
		@keyframes ruletaN{
			0%{
				background-position:-260px -7px;
			}
			50%{
				background-position:-260px -600px;
			}
			100%{
				background-position:-263px -298px;
			}
			
		}
		@keyframes ruletaP{
			0%{
				background-position:-260px -7px;
			}
			50%{
				background-position:-260px -600px;
			}
			100%{
				background-position:-263px -0px;
			}
			
		}
		.rule2{
			position: absolute;
			left: 0px;
			left: 300px;
			height:680px;
			width:200px;
			background: url(ruleta1.png);
			background-position: -9px -9px;
			display: none;
		}
		.rull{
			width: 80%;n
			height: 200px;
			background: red;
			font-size: 80px;
			text-align: center;
			color: white;
			margin: auto;
			box-sizing: border-box;
			padding-top: 45px;
			border-radius: 20px;
			border: solid 10px black;
			margin-top: 2%;
		}
		.rulemenu{
			background: royalblue;
			width: 99%;
			height: 700px;
			padding-top: 30%;
			margin-left: 0.5%;
			margin-top: 1%;
			box-sizing: border-box;
			border:solid 8px black;
		}
		.titu{
			color: black;
			font-size: 10px;
			position: absolute;
			top:3px;
			text-align: center;
			

		}
			.dados{
			color: black;
			width: 80px;
			height: 80px;
			background:url(d2.png) white;
			font-size: 80px;
			position: absolute;
			top:420px;
			left: 100px;
			border: solid 5px yellow;
			border-radius: 45px;
			text-align: center;
			background-size: cover;
			background-position: 0px -20px;

		}
		.juga{
			color: black;
			width: 80px;
			height: 80px;
			background:url(juga.png);
			font-size: 80px;
			position: absolute;
			top:420px;
			left: 280px;
			border: solid 5px yellow;
			border-radius: 45px;
			text-align: center;
			background-size: cover;
			background-position: 0px;

		}
	.emer{
			background: red;
			height: 300px;
			width: 80%;
			position: absolute;
			top: 30px;
			opacity: 0;

		}
		
	
	
